<web-app metadata-complete="true">
    <servlet>
        <servlet-name>League Resource</servlet-name>
        <servlet-class>com.github.aler86.fantacalcio.LeagueResource</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>League Resource</servlet-name>
        <url-pattern>/league/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Player Resource</servlet-name>
        <servlet-class>com.github.aler86.fantacalcio.PlayerResource</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Player Resource</servlet-name>
        <url-pattern>/player/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Profile Resource</servlet-name>
        <servlet-class>com.github.aler86.fantacalcio.ProfileResource</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Profile Resource</servlet-name>
        <url-pattern>/profile/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Users Resource</servlet-name>
        <servlet-class>com.github.aler86.fantacalcio.UsersResource</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Users Resource</servlet-name>
        <url-pattern>/users/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Token Resource</servlet-name>
        <servlet-class>com.github.aler86.fantacalcio.TokenResource</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Token Resource</servlet-name>
        <url-pattern>/token/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Team Resource</servlet-name>
        <servlet-class>com.github.aler86.fantacalcio.TeamResource</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Team Resource</servlet-name>
        <url-pattern>/team/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Iscrizione Resource</servlet-name>
        <servlet-class>com.github.aler86.fantacalcio.IscrizioneResource</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Iscrizione Resource</servlet-name>
        <url-pattern>/iscrizione/*</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>com.github.aler86.fantacalcio.util.DBHandler</listener-class>
    </listener>
    <display-name>Archetype Created Web Application</display-name>
</web-app>
